@import '../styles/_variable';

.HomeLeftSection {
  max-width: 32rem;
}

.HomeLeftSection__item {
  display: block;
  padding: 0.5rem;

  &:hover,
  &:active {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.HomeLeftSection__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.HomeLeftSection__image {
  border-radius: 50%;
}

.HomeLeftSection__title {
  position: absolute;
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: $font-default-color;
  top: 50%;
  transform: translate(0, -50%);
}
